:root {
    --index: calc(1vw + 1vh);
  }
  h1 {
    text-align: center;
    margin: 3vh auto;
    font-size: calc(var(--index) * 1.9);
    background-color: #03fdf5;
    background-image: linear-gradient(90deg, #ff4901, rgb(255, 102, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 3px rgba(102, 51, 153, 0.267);
  }
  .congrats {
    padding: calc(var(--index) * 0.5);
    text-align: center;
    font-size: calc(var(--index) * 2);
    display: none;
    color: rgb(250, 2, 2);
  }
  .congrats.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .congrats span {
    color: rgb(45, 185, 75);
    text-align: center;
    font-size: calc(var(--index) * 1.8);
  }
  .gameFieldWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .gameFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gameField {
    background: #e2e2e2;
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--index) * 23);
    height: calc(var(--index) * 23);
    margin: 3vh auto;
    box-shadow: 5px 5px 15px rgba(156, 154, 154, 0.8);
    opacity: 0;
  }
  .game_over {
    margin: 0 auto;
    width: calc(var(--index) * 20);
    max-height: 100%;
  }
  .winner {
    margin: 0 auto;
    width: calc(var(--index) * 24);
    max-height: 100%;
  }
  .sectionClick {
    background: #e2e2e2;
    width: calc(var(--index) * 2.3);
    height: calc(var(--index) * 2.3);
    color: rgb(3, 94, 94);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--index) * 1.8);
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgb(94, 92, 92),
      inset 7px 7px 23px 1px rgba(128, 128, 128, 0.856), inset 0 3px 0 0 white,
      inset 3px 0 0 0 white, inset 0 -3px 0 0 rgb(112, 111, 111),
      inset -3px 0 0 0 rgb(112, 111, 111);
  }
  .gameField .sectionClick:hover {
    background: whitesmoke;
  }
  .gameField .sectionPressed {
    font-size: calc(var(--index) * 1.8);
    background: #d5d5d5;
    box-shadow: inset 0 1px 0 0 rgb(112, 111, 111),
      inset 1px 0 0 0 rgb(112, 111, 111), inset 0 -1px 0 0 rgb(224, 218, 218),
      inset -1px 0 0 0 rgb(224, 218, 218);
  }
  
  .gameField .sectionPressed:hover {
    cursor: default;
    background: #d5d5d5;
  }
  .flagOn {
    background: url(../img/flag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }
  .flag {
    width: calc(var(--index) * 2);
  }
  .startBtn {
    padding: calc(var(--index));
    height: calc(var(--index) * 3);
    background-color: rgb(255, 102, 0);
    border-radius: 12px;
    font-size: calc(var(--index));
    font-weight: bold;
    color: transparent;
    text-transform: uppercase;
    transition: all 0.5s ease;
    border: 1px solid rgb(209, 85, 2);
    text-shadow: 0px 2px 3px rgba(209, 85, 2, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    box-shadow: 3px 3px 5px rgba(235, 95, 2, 0.5);
  }
  .startBtn:hover {
    background-color: #333333;
    color: rgb(255, 196, 0);
    cursor: pointer;
    transform: translateY(-7px);
    box-shadow: 1px 6px 2px rgb(126, 41, 2);
  }
  .startBtn:active {
    transform: translateY(-5px);
    box-shadow: 1px 3px 3px rgb(126, 41, 2);
    color: rgb(51, 255, 0);
  }
  
  .visibility {
    visibility: hidden;
  }
  .blur {
    font-size: 0px;
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  